<div id="landing-container">
    <div id="landing-main"></div>
</div>

<script id="stripe-template" type="text/x-underscore-template">
<button id="customButton" class="btn btn-success custom-button-chalk">Sign Up</button>
</script> 


<script id="newCourseView-template" type="text/x-template">
<div class="container">
  <div class="col-sm-6">
      <h2>Create Course</h2>
      <form> 
        <div>
          <label for="name">Name</label><br> 
          <input class="form-control" type="text" id="name" placeholder="name" required></input> 
        </div>
        <div> 
          <label for="description">Description</label><br> 
          <textarea class="form-control" type="text" id="description" placeholder="description"></textarea> 
        </div>
        <div>
          <label for="start_date">Start Date</label><br> 
          <input class="form-control" id="start_date" placeholder="start date" type="date"></input> 
        </div>
        <div>
          <label for="end_date">End Date</label><br> 
          <input class="form-control" id="end_date" placeholder="end date" type="date"></input> 
        </div>
        <div>
          <label for="start_time">Start Time</label><br> 
          <input class="form-control" id="start_time" placeholder="start time" type="time"></input> 
        </div>
        <div>
          <label for="end_time">End Time</label><br> 
          <input class="form-control" id="end_time" placeholder="end time" type="time"></input>
        </div>
        <div>
          <label for="course_cost">Course Cost</label><br> 
          <input class="form-control" type="number" id="course_cost" placeholder="$200"></input>
        </div>
        <div id="weekdays">
            <label for="saturday">  Saturdays</label>
            <input type='checkbox' value='Saturdays'></input>  

            <label for="sunday">    Sundays</label>
            <input type='checkbox' value='Sundays'></input>

            <label for="monday">    Mondays</label>
            <input type='checkbox' value='Mondays'></input> 

            <label for="tuesday">   Tuesdays</label>
            <input type='checkbox' value='Tuesdays'></input> 

            <label for="wednesday"> Wednesdays</label>
            <input type='checkbox' value='Wednesdays'></input>

            <label for="thursday">  Thursdays</label>
            <input type='checkbox' value='Thursdays'></input> 

            <label for="friday">    Fridays</label>
            <input type='checkbox' value='Fridays'></input> 
        </div> 
        <div>
          <label for="skill_level">Skill Level</label><br> 
            <select class="form-control" id="skill_level">
              <option value="beginner">beginner</option>
              <option value="intermediate">intermediate</option>
              <option value="advanced">advanced</option>
            </select>
        </div><br>

          <button id="create-Course" class="btn btn-success custom-button-chalk">Create Course</button>
          <button id="clear-Course" class="btn btn-success custom-button-chalk">Clear</button> 
     
      </form> 
    </div> 
</div> 
<div id="show-Course"></div> 
</script>

<script id="instructor-false-template" type="text/x-template">
  <h2>You must sign up as an instructor to create a course.</h2>
  <div id="false"> 
  </div> 
</script>

<script id="course-false-template" type="text/x-template">
  <h2>You have already signed up for this course.</h2> 
</script>

<script id="course-false-template2" type="text/x-template">
<script>
var pathObj = {
    "chalk": {
        "strokepath": [
            {
                "path": "M12.929,13.796c0.004,6.193-0.624,18.74,6.657,21.364c8.327,3,8.959-15.469,8.996-19.731    c-0.982,0.133-1.964,0.266-2.946,0.399c1.968,7.827,1.909,15.536-0.407,23.281c-0.751,2.51-2.68,8.582-6.087,8.873    c-2.824,0.242-6.247-3.775-8.142-5.451c-1.443-1.276-3.573,0.837-2.121,2.121c3.94,3.484,10.457,9.78,15.097,3.676    c6.979-9.181,7.249-22.577,4.553-33.298c-0.418-1.664-2.932-1.28-2.946,0.399c-0.023,2.667-2.192,22.006-6.931,15.403    c-3.169-4.416-2.719-11.842-2.722-17.036C15.927,11.861,12.927,11.861,12.929,13.796L12.929,13.796z",
                "duration": 1000
            },
            {
                "path": "M39.386,16.582c-5.705,4.127-2.519,19.562,5.75,15.217c5.947-3.125,4.2-17.76-3.759-16.185    c-1.896,0.375-1.092,3.267,0.798,2.893c4.497-0.89,3.682,8.516,1.724,10.499c-2.027,2.053-3.883-1.57-4.238-3.072    c-0.423-1.793-0.478-5.518,1.24-6.761C42.452,18.05,40.957,15.446,39.386,16.582L39.386,16.582z",
                "duration": 600
            },
            {
                "path": "M50.888,17.469c-0.06,3.239-0.725,6.752,1.303,9.55c1.475,2.036,4.965,3.196,7.322,2.155    c4.755-2.1,3.004-9.753,2.946-13.746c-0.028-1.933-3.01-1.936-3,0c0.033,6.224,0.637,12.27,3.47,17.899    c0.87,1.729,3.458,0.209,2.591-1.514c-2.586-5.139-3.031-10.721-3.061-16.386c-1,0-2,0-3,0c0.045,3.134,0.662,6.378-0.08,9.468    c-0.622,2.592-3.803,1.707-5.042-0.003c-1.307-1.803-0.488-5.352-0.45-7.424C53.923,15.534,50.923,15.537,50.888,17.469    L50.888,17.469z",
                "duration": 1000
            },
            {
                "path": "M74.153,10.531c0.696,8.349-0.104,16.713,2.095,24.889c0.438,1.63,2.978,1.305,2.946-0.399    c-0.078-4.15-1.004-9.106,0.788-13c1.769-3.845,5.422,4.754,5.679,5.448c0.663,1.791,1.143,3.651,1.607,5.501    c0.471,1.875,3.364,1.079,2.893-0.798c-1.135-4.516-3.119-14.159-9.298-13.962c-6.697,0.214-4.743,12.857-4.668,16.81    c0.982-0.133,1.964-0.266,2.946-0.399c-2.128-7.91-1.314-16.016-1.987-24.091C76.993,8.617,73.992,8.602,74.153,10.531    L74.153,10.531z",
                "duration": 1000
            },
            {
                "path": "M100.551,21.275c-4.997-0.366-6.47,5.633-5.34,9.498c0.513,1.753,1.996,3.252,3.909,2.424    c2.612-1.13,3.482-5.622,4.102-7.982c-0.835,0.221-1.671,0.441-2.507,0.662c1.821,2.248,3.252,4.73,4.104,7.501    c0.566,1.843,3.463,1.057,2.893-0.798c-1.01-3.286-2.719-6.164-4.875-8.825c-0.726-0.896-2.241-0.349-2.507,0.662    c-0.508,1.935-0.99,4.584-2.473,6.065c-0.061,0.061,0.562,0.138,0.555,0.128c-0.277-0.372-0.367-0.805-0.466-1.258    c-0.431-1.963,0.036-5.266,2.606-5.077C102.482,24.417,102.468,21.416,100.551,21.275L100.551,21.275z",
                "duration": 1000
            },
            {
                "path": "M105.635,21.56c-0.731,5.153,1.53,10.122,6.404,12.307c0.565,0.253,1.376,0.326,1.817-0.235    c3.092-3.925,2.424-8.671,3.243-13.314c0.333-1.892-2.557-2.701-2.893-0.798c-0.679,3.852,0.081,8.75-2.471,11.991    c0.606-0.078,1.212-0.156,1.817-0.235c-3.542-1.587-5.578-5.018-5.025-8.918C108.796,20.466,105.906,19.651,105.635,21.56    L105.635,21.56z",
                "duration": 600
            },
            {
                "path": "M121.785,29.12c4.139,0.744,9.141-0.38,9.855-5.238c0.546-3.717-2.098-7.081-5.998-6.298    c-4.144,0.831-8.999,6.688-5.707,10.621c3.092,3.694,9.56,4.595,14.084,4.643c1.936,0.021,1.934-2.98,0-3    c-3.315-0.035-6.869-0.665-9.855-2.142c-1.077-0.533-2.373-1.346-2.373-2.68c0.001-1.721,2.405-3.458,3.724-4.204    c2.001-1.131,3.279,0.431,3.203,2.388c-0.122,3.107-3.83,3.432-6.137,3.017C120.691,25.887,119.883,28.778,121.785,29.12    L121.785,29.12z",
                "duration": 800
            },
            {
                "path": "M156.877,17.602c-4.894,0.477-12.863,1.534-9.784,8.378c1.413,3.141,4.526,5.362,7.841,3.707    c2.997-1.497,4.208-5.907,3.851-8.952c-0.219-1.874-3.122-1.964-3,0c0.264,4.267,3.097,7.268,5.511,10.553    c1.133,1.542,3.738,0.048,2.591-1.514c-2-2.723-4.881-5.485-5.102-9.039c-1,0-2,0-3,0c0.255,2.176-0.288,4.304-1.806,5.929    c-1.985,2.126-4.493-1.562-4.667-3.448c-0.218-2.364,6.125-2.474,7.564-2.614C158.785,20.416,158.803,17.415,156.877,17.602    L156.877,17.602z",
                "duration": 1000
            },
            {
                "path": "M161.908,9.714c0.279,7.848,5.157,14.072,6.584,21.624c0.359,1.899,3.25,1.093,2.893-0.798    c-1.37-7.248-6.21-13.328-6.477-20.826C164.839,7.786,161.839,7.779,161.908,9.714L161.908,9.714z",
                "duration": 600
            },
            {
                "path": "M170.888,19.51c0.388,3.635,0.325,7.112,2.654,10.145c0.844,1.099,2.816,0.878,2.795-0.757    c-0.062-4.842-1.651-10.197,4.205-12.023c1.84-0.574,1.054-3.47-0.798-2.893c-2.915,0.909-5.114,2.402-6.197,5.332    c-1.091,2.952-0.25,6.533-0.21,9.583c0.932-0.252,1.863-0.505,2.795-0.757c-2.004-2.61-1.911-5.507-2.245-8.631    C173.685,17.607,170.682,17.587,170.888,19.51L170.888,19.51z",
                "duration": 800
            },
            {
                "path": "M185.041,25.908c3.197-0.311,4.743-2.988,4.409-6.037c-0.252-2.304-1.717-5.733-4.568-5.452    c-3.751,0.37-5.676,6.497-5.1,9.566c0.993,5.278,6.681,7.074,11.372,5.951c1.881-0.45,1.083-3.343-0.798-2.893    c-2.826,0.676-6.421,0.049-7.496-3.04c-0.543-1.561,0.104-3.202,0.751-4.621c0.286-0.627,0.789-1.75,1.493-1.979    c0.054-0.018,0.346,0.154,0.607,0.536c0.428,0.622,0.623,1.351,0.756,2.084c0.206,1.131-0.053,2.751-1.426,2.885    C183.134,23.094,183.116,26.096,185.041,25.908L185.041,25.908z",
                "duration": 1000
            },
            {
                "path": "M203.408,15.969c-3.341-0.321-7.243,1.256-8.389,4.681c-1.198,3.579,1.156,7.211,4.487,8.639    c6.17,2.646,8.125-7.859,6.981-11.811c-0.914,0.385-1.828,0.771-2.742,1.156c1.832,3.996,4.204,7.709,6.53,11.429    c1.023,1.636,3.62,0.131,2.591-1.514c-2.327-3.72-4.699-7.434-6.53-11.429c-0.72-1.57-3.205-0.447-2.742,1.156    c0.605,2.093,0.336,7.496-2.223,8.365c-1.97,0.669-3.932-3.231-3.629-4.689c0.517-2.489,3.552-3.187,5.666-2.983    C205.334,19.154,205.316,16.152,203.408,15.969L203.408,15.969z",
                "duration": 1000
            },
            {
                "path": "M226.664,19.289c-4.38-1.386-10.032-0.583-12.96,3.311c-3.008,4,0.308,7.101,4.408,7.745    c11.761,1.847,6.441-13.991,5.519-19.804c-0.964,0.266-1.928,0.532-2.893,0.798c2.138,6.252,4.885,12.255,7.498,18.317    c0.764,1.772,3.348,0.243,2.591-1.514c-2.511-5.825-5.142-11.594-7.196-17.601c-0.636-1.86-3.192-1.089-2.893,0.798    c0.632,3.984,4.102,11.516,1.296,15.138c-1.472,1.901-7.878,1.094-6.083-1.906c1.904-3.182,6.864-3.354,9.915-2.388    C227.716,22.767,228.501,19.87,226.664,19.289L226.664,19.289z",
                "duration": 1000
            },
            {
                "path": "M229.309,20.317c1.017,3.593,3.793,10.139,8.606,9.37c5.674-0.907,4.761-7.095,5.715-11.411    c-0.835,0.221-1.671,0.441-2.507,0.662c3.238,3.893,4.657,9.112,4.797,14.096c0.152,5.466-3.366,8.905-8.074,10.883    c-7.024,2.951-18.055,3.243-23.989-2.203c-1.422-1.305-3.549,0.811-2.121,2.121c7.713,7.077,21.443,6.177,30.099,1.465    c10.492-5.711,7.922-20.657,1.41-28.484c-0.714-0.859-2.276-0.384-2.507,0.662c-0.502,2.271-0.504,4.609-0.978,6.887    c-0.779,3.75-4.165,1.885-5.685-0.373c-0.907-1.346-1.435-2.925-1.874-4.473C231.675,17.661,228.781,18.452,229.309,20.317    L229.309,20.317z",
                "duration": 1300
            },
            {
                "path": "M268.306,15.969c-4.358,0.502-11.873-0.343-10.766,6.396c0.904,5.505,10.474,3.447,14.04,4.306    c-0.349-0.615-0.698-1.23-1.047-1.845c-1.246,3.661-7.416,2.595-10.39,2.572c-1.935-0.015-1.934,2.985,0,3    c4.741,0.036,11.387,0.797,13.283-4.774c0.257-0.756-0.287-1.662-1.047-1.845c-3.522-0.848-7.243,0.062-10.731-1.102    c-2.468-0.823-0.826-2.961,0.897-3.358c1.872-0.432,3.863-0.13,5.762-0.349C270.205,18.75,270.226,15.748,268.306,15.969    L268.306,15.969z",
                "duration": 1000
            },
            {
                "path": "M273.337,16.653c-0.385,4.711,0.677,9.209,3.705,12.897c1.228,1.497,3.338-0.639,2.121-2.121    c-2.518-3.067-3.141-6.917-2.826-10.776C276.495,14.724,273.493,14.739,273.337,16.653L273.337,16.653z",
                "duration": 600
            },
            {
                "path": "M275.245,12.439c1.935,0,1.935-3,0-3S273.311,12.439,275.245,12.439L275.245,12.439z",
                "duration": 600
            },
            {
                "path": "M289.939,15.153c-4.802,0.07-14.764,8.894-8.816,13.581c5.98,4.712,11.88-4.175,12.356-9.632c-1,0-2,0-3,0    c-0.104,6.436,2.109,12.919,0.772,19.311c-0.956,4.571-11.577,14.751-15.12,7.279c-0.829-1.748-3.415-0.224-2.591,1.514    c3.362,7.09,11.629,3.295,16.013-0.675c8.216-7.441,3.772-17.921,3.925-27.429c0.032-1.961-2.834-1.896-3,0    c-0.264,3.026-2.559,6.845-5.442,8.024c-4.716,1.929-0.594-5.841-0.074-6.417c1.255-1.392,3.067-2.528,4.976-2.556    C291.872,18.125,291.875,15.125,289.939,15.153L289.939,15.153z",
                "duration": 1000
            },
            {
                "path": "M295.431,19.093c0.507,3.218,1.993,6.152,2.449,9.388c0.24,1.701,2.973,1.255,2.946-0.399    c-0.067-4.147-0.798-8.194-1.687-12.235c-0.349,0.615-0.698,1.23-1.047,1.845c2.71-0.669,6.864-1.683,8.851,1.012    c1.918,2.602,1.768,6.729,1.903,9.786c0.085,1.927,3.086,1.935,3,0c-0.171-3.848-0.136-8.807-2.786-11.928    c-2.938-3.461-7.845-2.731-11.766-1.763c-0.824,0.203-1.219,1.064-1.047,1.845c0.831,3.783,1.516,7.554,1.579,11.438    c0.982-0.133,1.964-0.266,2.946-0.399c-0.457-3.236-1.942-6.169-2.449-9.388C298.023,16.388,295.133,17.201,295.431,19.093    L295.431,19.093z",
                "duration": 1300
            },
            {
                "path": "M318.908,24.222c4.247-0.615,7.001-3.975,7.987-7.986c0.15-0.612-0.077-1.404-0.689-1.694    c-4.196-1.992-8.572-0.028-8.885,4.836c-0.359,5.599,5.511,7.896,10.169,7.347c1.897-0.223,1.919-3.226,0-3    c-2.909,0.342-6.934-0.219-7.169-3.876c-0.174-2.706,2.084-3.802,4.371-2.716c-0.23-0.565-0.46-1.129-0.689-1.694    c-0.764,3.105-2.615,5.417-5.892,5.891C316.202,21.605,317.017,24.496,318.908,24.222L318.908,24.222z",
                "duration": 800
            },
            {
                "path": "M339.326,15.153c-2.989,0.129-6.037,1.186-6.725,4.431c-0.509,2.403,1.021,4.946,3.41,5.499    c3.021,0.699,5.298-2.297,5.968-4.825c1.104-4.164-0.216-9.45-1.615-13.392c-0.663-1.867-3.147-1.084-2.893,0.798    c0.961,7.115,4.464,13.161,7.499,19.542c0.83,1.747,3.416,0.224,2.59-1.514c-2.925-6.152-6.27-11.968-7.196-18.826    c-0.964,0.266-1.929,0.532-2.893,0.798c1.366,3.848,2.486,8.51,1.418,12.54c-0.452,1.705-2.669,2.8-3.321,0.744    c-0.694-2.192,2.317-2.733,3.758-2.795C341.253,18.07,341.262,15.069,339.326,15.153L339.326,15.153z",
                "duration": 1000
            },
            {
                "path": "M356.655,16.236c0.679,3.567,4.075,9.556,8.549,8.54c4.741-1.076,4.223-7.212,4.194-10.98    c-0.932,0.252-1.863,0.505-2.795,0.757c2.011,3.496,4.603,6.673,5.562,10.663c0.452,1.88,3.346,1.083,2.893-0.798    c-1.025-4.26-3.717-7.646-5.865-11.378c-0.743-1.292-2.806-0.735-2.795,0.757c0.018,2.372,0.302,5.079-0.723,7.29    c-1.734,3.745-5.855-4.217-6.128-5.648C359.187,13.539,356.296,14.345,356.655,16.236L356.655,16.236z",
                "duration": 800
            },
            {
                "path": "M376.193,13.796c1.123,9.039,0.305,18.195,3.319,26.93c0.634,1.837,3.255,1.1,2.893-0.798    c-1.386-7.268-3.464-14.579-3.136-22.043c0.196-4.456,4.233-5.094,5.918-1.037c1.679,4.041-1.07,6.562-5.045,6.469    c-1.936-0.045-1.932,2.955,0,3c4.72,0.11,8.401-2.235,8.508-7.23c0.082-3.888-2.792-8.093-6.868-8.194    c-10.99-0.271-3.25,24.694-2.27,29.833c0.964-0.266,1.929-0.532,2.893-0.798c-2.923-8.469-2.123-17.368-3.212-26.132    C378.958,11.902,375.955,11.879,376.193,13.796L376.193,13.796z",
                "duration": 1000
            },
            {
                "path": "M412.388,5.765c-6.225,0.573-11.642,0.726-14.059,7.297c-3.354,9.116-0.988,18.245,6.06,24.651    c1.428,1.298,3.556-0.817,2.121-2.121c-6.061-5.509-7.412-11.561-5.888-19.469c1.299-6.735,5.898-6.819,11.766-7.358    C414.298,8.589,414.314,5.588,412.388,5.765L412.388,5.765z",
                "duration": 600
            },
            {
                "path": "M392.806,20.957c4.685,0.663,9.188-0.274,13.868-0.354c1.933-0.033,1.936-3.033,0-3    c-4.373,0.075-8.695,1.081-13.071,0.462C391.712,17.796,390.896,20.687,392.806,20.957L392.806,20.957z",
                "duration": 600
            },
            {
                "path": "M416.226,16c-1.833,1.473-4.213,3.753-3.565,6.375c0.466,1.888,2.533,2.806,4.286,3.045    c1.933,0.264,4.003,0.129,5.753-0.803c0.855-0.455,1.519-1.172,1.836-2.09c0.33-0.956,0.018-2.063-0.521-2.876    c-0.868-1.309-2.205-2.257-3.522-3.069c-0.696-0.429-1.646-0.154-2.052,0.539c-0.421,0.718-0.157,1.624,0.538,2.052    c0.324,0.2,0.644,0.407,0.955,0.625c0.14,0.098,0.277,0.199,0.413,0.302c-0.41-0.31,0.084,0.072,0.182,0.155    c0.208,0.176,0.407,0.363,0.596,0.559c0.084,0.086,0.163,0.177,0.241,0.268c0.278,0.326-0.205-0.294,0.03,0.041    c0.108,0.155,0.203,0.319,0.283,0.49c0.045,0.098-0.162-0.441-0.047-0.087c0.027,0.085,0.048,0.172,0.063,0.26    c0.021,0.12-0.04-0.507-0.03-0.15c0.002,0.068-0.003,0.136-0.011,0.204c0.066-0.617,0.05-0.324,0.008-0.171    c-0.09,0.331,0.055-0.107,0.058-0.113c-0.111,0.235-0.308,0.426-0.006,0.062c-0.1,0.12-0.216,0.226-0.337,0.324    c0.505-0.406,0.038-0.042-0.119,0.048c-0.072,0.041-0.146,0.079-0.22,0.116c-0.038,0.019-0.077,0.037-0.115,0.054    c-0.27,0.124,0.363-0.149,0.158-0.065c-0.359,0.146-0.735,0.25-1.114,0.331c-0.176,0.037-0.898,0.14-0.236,0.053    c-0.218,0.029-0.438,0.048-0.657,0.061c-0.425,0.025-0.852,0.019-1.276-0.014c-0.101-0.008-0.201-0.018-0.302-0.029    c-0.326-0.037,0.456,0.069,0.054,0.006c-0.208-0.032-0.415-0.075-0.619-0.125c-0.181-0.044-0.359-0.099-0.535-0.159    c-0.085-0.029-0.169-0.062-0.252-0.096c0.569,0.231,0.176,0.074,0.043,0.007c-0.148-0.074-0.29-0.159-0.427-0.252    c-0.291-0.199,0.304,0.25,0.085,0.067c-0.067-0.057-0.132-0.118-0.193-0.182c-0.101-0.104-0.302-0.375,0.067,0.106    c-0.045-0.058-0.084-0.119-0.121-0.181s-0.069-0.126-0.1-0.192c0.252,0.555,0.098,0.239,0.057,0.084    c-0.039-0.146-0.068-0.484,0.007,0.143c-0.009-0.077-0.012-0.155-0.012-0.232c0-0.082,0.008-0.163,0.017-0.244    c-0.071,0.63-0.026,0.213,0.014,0.056c0.023-0.092,0.054-0.182,0.086-0.271c0.107-0.298-0.188,0.401-0.01,0.027    c0.108-0.229,0.241-0.447,0.383-0.657c0.071-0.105,0.374-0.503,0.041-0.074c0.09-0.115,0.183-0.226,0.277-0.336    c0.231-0.27,0.48-0.524,0.734-0.771c0.399-0.387,0.824-0.748,1.257-1.096c0.639-0.513,0.531-1.59,0-2.121    C417.723,15.376,416.862,15.489,416.226,16L416.226,16z",
                "duration": 1800
            },
            {
                "path": "M425.174,16.653c0.006,2.445,0.071,4.804,1.664,6.775c0.809,1.001,2.665,0.192,2.561-1.061    c-0.175-2.092-0.505-4.181-0.393-6.286c0.144-2.665,2.223-3.46,4.606-3.643c1.916-0.147,1.931-3.148,0-3    c-2.939,0.225-6.043,1.145-7.123,4.205c-0.985,2.792-0.329,5.859-0.091,8.723c0.854-0.354,1.707-0.707,2.561-1.061    c-0.988-1.223-0.781-3.187-0.785-4.654C428.169,14.718,425.169,14.718,425.174,16.653L425.174,16.653z",
                "duration": 800
            },
            {
                "path": "M445.99,6.041c0.934,7.206,3.559,14.025,4.543,21.215c0.262,1.909,3.151,1.093,2.893-0.798    c-0.948-6.924-3.537-13.483-4.436-20.417C448.745,4.15,445.742,4.126,445.99,6.041L445.99,6.041z",
                "duration": 600
            },
            {
                "path": "M443.408,16.521c4.436,0.357,8.952-0.365,13.052-2.095c1.754-0.74,0.984-3.645-0.797-2.893    c-3.888,1.64-8.048,2.326-12.255,1.987C441.479,13.365,441.493,16.367,443.408,16.521L443.408,16.521z",
                "duration": 600
            },
            {
                "path": "M457.063,8.072c0.821,5.901,2.088,11.714,3.266,17.551c0.339,1.68,2.975,1.27,2.946-0.399    c-0.049-2.881-0.945-6.59,0.448-9.254c1.409-2.696,4.224,2.394,4.524,3.34c0.576,1.812,0.794,3.713,1.469,5.496    c0.678,1.791,3.578,1.015,2.893-0.798c-1.675-4.427-1.898-12.208-8.633-11.438c-5.368,0.615-3.76,9.161-3.701,12.653    c0.982-0.133,1.964-0.266,2.946-0.399c-1.178-5.837-2.443-11.65-3.266-17.551C459.69,5.365,456.8,6.181,457.063,8.072    L457.063,8.072z",
                "duration": 1000
            },
            {
                "path": "M473.745,15.021c0.001,3.568,0.058,7.111,0.87,10.603c0.438,1.884,3.33,1.085,2.893-0.798    c-0.751-3.229-0.762-6.507-0.763-9.805C476.744,13.086,473.744,13.086,473.745,15.021L473.745,15.021z",
                "duration": 600
            },
            {
                "path": "M474.429,9.99c1.935,0,1.935-3,0-3S472.494,9.99,474.429,9.99L474.429,9.99z",
                "duration": 600
            },
            {
                "path": "M486.674,13.112c-3.583-0.354-5.812,1.598-5.99,5.173c-0.033,0.661,0.481,1.277,1.102,1.446    c2.758,0.752,5.72,1.753,7.973,3.581c0.48,0.39,1.132,0.876,0.744,1.271c-1.237,1.256-4.285,1.393-5.869,1.59    c-1.894,0.237-1.916,3.24,0,3c2.692-0.336,11.036-1.402,8.705-6.172c-1.75-3.583-7.248-5.206-10.756-6.162    c0.367,0.482,0.734,0.964,1.102,1.446c0.1-2.002,1.17-2.353,2.99-2.173C488.599,16.303,488.58,13.301,486.674,13.112    L486.674,13.112z",
                "duration": 800
            },
            {
                "path": "M500.551,31.214c1.935,0,1.935-3,0-3S498.616,31.214,500.551,31.214L500.551,31.214z",
                "duration": 600
            },
            {
                "path": "M502.459,22.367c0.031-7.127,0.46-14.188,1.579-21.233c0.301-1.892-2.59-2.704-2.893-0.798    c-1.161,7.309-1.654,14.634-1.687,22.031C499.45,24.302,502.45,24.301,502.459,22.367L502.459,22.367z",
                "duration": 600
            }
        ],
        "dimensions": {
            "width": 600,
            "height": 100
        }
    }
};  
</script>
</script>


<script id="myCourseViewInstruct-template" type="text/x-underscore-template">
  <div class="single-course mycourse-view" id="mycourse-Instruct">
  <h3><a id="{{id}}" class="course" data-course-id = {{ id }}>{{name}}</a></h3>
  <p>{{ weekdays }}</p>
  <p>{{moment( start_time ).format( 'h:mm a' )}} - {{moment( end_time ).format( 'h:mm a' )}}</p>
  </div>
  <div id="instruct"></div>
</script>


<script id="coursesView-template" type="text/x-underscore-template">
  <div class="single-course relative col-lg-6 col-md-6">
    <%= image_tag('chalkboardnew.png') %>
    <div class="details absolute">
      <h1><a id="{{course.id}}" class="course" data-course-id = {{ course.id }}>{{course.name}}</a></h1>
      <p>with <a id="{{user.id}}" class="user" data-course-id = {{ user.id }}>{{user.first_name}} {{user.last_name}}</a></p>
      <p>{{moment( course.start_date ).format( 'MMMM D, YYYY' )}}</p>
      <p>{{ moment( course.weekdays ).format( 'dddd' ) }}</p>
      <p>{{moment( course.start_time ).format( 'h:mm a' )}} - {{moment( course.end_time ).format( 'h:mm a' )}}</p>
      <p>{{course.skill_level}}</p>
    </div>
  </div>
</script>



<script id="registrationView-template" type="text/x-underscore-template">
  <div class="single-course" id="registration">
    <h2>Registration Confirmation</h2><p>Confirmation #{{registerID}}</p>
    <h3>{{course.name}}</h3>
    <p>Instructor: {{user.first_name}} {{user.last_name}}</p>
    <p>{{moment( course.start_date ).format( 'MMMM D, YYYY' )}}</p>
    <p>{{course.description}}</p> 
    <p>{{moment( course.start_time ).format( 'h:mm a' )}} - {{moment( course.end_time ).format( 'h:mm a' )}}</p>
    <p>{{accounting.formatMoney(course.course_cost)}}</p>
    <p>{{course.skill_level}}</p>
  </div>
</script>



<script id="myCourseViewInstructStudents-template" type="text/x-underscore-template">
  <div class="left">
  <h3>{{student_name}}</h3>
  </div>
</script>

<script id="myCourseViewLearn-template" type="text/x-underscore-template">
  <div class="right">
  <h2>Learning</h2> 
  <h3>{{name}}</h3>
  </div>
</script>

<script id="userView-template" type="text/x-underscore-template">
  <div class="single-course user-view">

    <div class="left" id="user-left">

    <h1 id="user-view-header">{{first_name}} {{last_name}}</h1>
    <p>Email: {{email}}</p>
  </div> 

  <div class="right" id="user-right">
  </div> 
  </div>
  <div class="linkedingoeshere">
  </div>  
</script>

<script id="userViewTry-template" type="text/x-underscore-template">
  <div class="center">
  <h3>Projects</h3> 
    {@ _(projects).each(function (e) { @}<div><img src="{{ e }}"></div>{@ }); @}
  </div>
</script>

<script id="userViewTry2-template" type="text/x-underscore-template">
<div id="stage">
</div>
</script>

  <script id="courseView-template" type="text/x-underscore-template">
  <div class="single-course">
    <h1 class="courseViewlinks">{{ course.name }}</h1>
    <p>with <a class="user" id="{{user.id}}" data-course-id = {{ user.id }}>{{user.first_name}} {{user.last_name}}</a></p>
    <p>{{moment( course.start_date ).format( 'MMMM D, YYYY' ) - moment( course.end_date ).format( 'MMMM D, YYYY' )}}</p>
    <p>{{course.description}}</p> 
    <p>{{course.weekdays}}</p>
    <p>{{moment( course.start_time ).format( 'h:mm a' )}} - {{moment( course.end_time ).format( 'h:mm a' )}}</p>
    <p>{{accounting.formatMoney(course.course_cost)}}</p>
    <p>{{course.skill_level}}</p>

  </div>
</script>

<script id="userViewTry3-template" type="text/x-underscore-template">
<div id="linkedinView">
</div>
</script>

























