
.svg { 
margin-top: -15%; 
margin-left: 16%; 
margin-right: 0%; 

}

svg { 
  height: 500px; 

}

.little-skills { 
  margin: .5em 2em;
  width: 20%; 
  padding: 1em;
  border: 1px solid;
  border-radius: 20px;
  text-align: center; 

}


#wrap { 
background: black; 

}
.relative { 
    position: relative;
}

.absolute {
    position: absolute;
}

.single-course { 
  margin-bottom: 1em;
}

.mycourse-container {

  background-image: url("../../assets/chalkboardnew.png");
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100%; 
  background-size: contain;
  width: 100%;
  height: 40em;
  background-position: 50%;
  padding-top: 3em;

}

.mycourse-view { 
  color: white; 
  width: 50%;
  margin: 0 auto;
}

.mycourse-view h3 { 
  margin-bottom: 0; 
}

.mycourse-view p { 
  margin: 0; 
}


.row { 
  padding-bottom: 0; 
}



.left { 
  width: 48%; 
  float: left; 

 }

 .right { 
  width: 48%; 
  float: right; 
    
 }

 .center { 
  height: 100%; 
  border: solid black 1.5em; 

 }

 .user-view { 
  text-align: center; 
  margin-top: 0; 
 }

 #user-view-header { 
  margin-top: 0; 

 }

.single-course .details {
    z-index: 200;
    top: 7%;
    color: white;
    left: 10%;
}




.single-course .details a {
    color: #E2DD8F;
}

.chalk_icon { 
    width: 8%; 
    display: inline; 

}

#linkedin-button { 
  margin-bottom: 1em; 
}

/*#image
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}*/